{% extends 'main.html' %}

{% block content %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/select/1.3.4/css/select.dataTables.min.css">
    <div class="container" style="margin-top: 5%; margin-left: 20px; margin-right" >
        <table id="productsTable" class="cell-border" cellspacing="0" width="100%">
            <thead>
                <tr>
                    {% for col in columns %}
                        <th>{{ col }}</th>
                    {% endfor %}
                </tr>
            </thead>
        </table>
        <div class="container">
            <button id="add" type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal">
                Add New
            </button>
            <button id="delete" type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" disabled>
                Delete
            </button>
            <button id="edit" type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal" disabled>
                Edit
            </button>
            <div style="margin-top: 4px">
                <button id="deselect" type="button" class="btn btn-secondary" disabled>
                    Deselect All
                </button>
            </div>
        </div>

    </div>

<!---------------------------MODALS--------------------------->

    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Add Customer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <table id="addTable" class="table">
                      <tr>
                          <th>Product Name</th>
                          <td><input type="text" size="30"></td>
                      </tr>
                      <tr>
                          <th>Price</th>
                          <td><input type="number" min="0" size="5"></td>
                      </tr>
                  </table>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="addConfirm" type="button" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </div>
        </div>
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit Product</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <table id="editModalTable" class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>PRODUCT KEY</th>
                            <td id="product_key"></td>
                        </tr>
                    </thead>
                    <tbody id="editModalTableBody">

                    </tbody>
                </table>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="editConfirm" type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Product</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p id="deleteModalBody"></p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="deleteConfirm" type="button" class="btn btn-danger">Confirm Delete</button>
              </div>
            </div>
          </div>
        </div>


    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/select/1.3.4/js/dataTables.select.min.js"></script>
    <script>
        var deleteBtn = document.getElementById("delete");
        var editBtn = document.getElementById("edit");
        var deselectBtn = document.getElementById("deselect");

        table = $('#productsTable').DataTable({
            ajax: '../products/product_data',
            responsive: true,
            scrollY: '53vh',
            scrollCollapse: true,
            columnDefs : [
                { "width": "15%", "targets": 0 },
                { "width": "15%", "className": "dt-body-right", "targets": 2 },
            ]
        });

        $('#productsTable tbody').on( 'click', 'tr', function () {
            $(this).toggleClass('selected');
            checkBtnStatus();
        } );

        $('#addConfirm').click( function () {
            var addTb = document.getElementById("addTable");
            var name = addTb.rows[0].cells[1].children[0].value;
            var price = addTb.rows[1].cells[1].children[0].value;

            $.ajax({
                url: '../products/add_product',
                type: 'POST',
                dataType: 'json',
                data: {'product_name': name, 'price': price},
                success: function (response){
                    console.log( response.data );
                    window.location.reload()
                }
            });

        } );

        $('#delete').click( function () {
            document.getElementById( "deleteModalBody" ).innerHTML = `Confirm Delete ${table.rows(['.selected']).data().length} item/s?`;
        } );

        $('#deleteConfirm').click( function () {
            var data = table.rows(['.selected']).data().toArray();

            $.ajax({
                url: '../products/delete_rows',
                type: 'POST',
                dataType: 'json',
                data: {'rows': JSON.stringify( data )},
                success: function (response){
                    console.log( response.data )
                    console.log( 'Reloading page...' )
                    window.location.reload()
                }
            });
        } );

        $('#edit').click( function () {
            var cols = "{{ columns | safe }}".slice(0, -1).split(',');
            for (let i = 0; i < cols.length; i++) {
                cols[i] = cols[i].substring(2, cols[i].length-1)
            }
            var data = table.rows(['.selected']).data().toArray();
            document.getElementById( "product_key" ).innerHTML = data[0][0];

            $("#editModalTableBody").empty();
            var tbodyRef = document.getElementById('editModalTable').getElementsByTagName('tbody')[0];
            for (let i = 1; i < data[0].length; i++) {
                var newRow = tbodyRef.insertRow();
                var colCell = newRow.insertCell();
                var editCell = newRow.insertCell();
                colCell.innerHTML = cols[i];
                editCell.innerHTML = `<input type='text' id="edit${i}" value=${data[0][i]}>`;
            }
        } );

        $('#editConfirm').click( function () {
            var data = table.rows(['.selected']).data().toArray();
            var product_key = document.getElementById("product_key").innerHTML;
            var editedRow = [];
            editedRow.push( product_key );
            for (let i = 1; i < data[0].length; i++) {
                editedRow.push( document.getElementById("edit"+i).value );
            }
            $.ajax({
                url: '../products/edit_row',
                type: 'POST',
                dataType: 'json',
                data: {'product_key': JSON.stringify( editedRow )},
                success: function (response){
                    console.log( response.data )
                    console.log( 'Reloading page...' )
                    window.location.reload()
                }
            });
        } );

        $('#deselect').click( function () {
            table
                .rows( '.selected' )
                .nodes()
                .to$()
                .removeClass( 'selected' );
            checkBtnStatus();
        } );

        function checkBtnStatus() {
            if ( table.rows(['.selected']).data().length == 1 ){
                editBtn.disabled = false;
            } else {
                editBtn.disabled = true;
            }

            if ( table.rows(['.selected']).data().length > 0 ){
                deselectBtn.disabled = false;
                deleteBtn.disabled = false;
            } else {
                deselectBtn.disabled = true;
                deleteBtn.disabled = true;
            }
        }

    </script>

{% endblock %}