{% extends 'main.html' %}

{% block content %}

<link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/select/1.3.4/css/select.dataTables.min.css">


<datalist id="product_names">
    {% for name in product_names %}
        <option value="{{name}}">
    {% endfor %}
</datalist>

<datalist id="customer_names">
    {% for name in customer_names %}
        <option value="{{name}}">
    {% endfor %}
</datalist>


<body style="background-color: #DFDFDF">
    <div class="container">
        <div class="container py-4">
            <div class="p-5 mb-4 bg-light rounded-3">
                <div class="container-fluid py-5">
                    <h1 class="display-5 fw-bold">3M Grocery</h1>
                        <p>
                            <button class="btn btn-primary btn-lg" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                Create Order
                            </button>
                        </p>
                    <div class="collapse container" id="collapseExample">
                        <div class="card card-body">
                            <table id="orderTable" class="table">
                                 <thead>
                                    <tr colspawn="3">
                                        <th>Name: <input list="customer_names" size="50"></th>
                                        <th style="text-align: right"><button onclick="addRow()" class="btn btn-primary">Add row</button> <button data-toggle="modal" data-target="#submitModal" class="btn btn-primary" onclick="createConfirmTable()">Submit Order</button></th>
                                    </tr>
                                    <tr>
                                        <th>Product Name</th>
                                        <th>Qty</th>
                                    </tr>
                                 </thead>
                                <tbody>
                                    <tr>
                                        <td><input list="product_names" size="60"></td>
                                        <td><input type="number" min="0" size="5"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

              </div>
            </div>

            <div class="p-5 mb-4 bg-light rounded-3 container align-items-md-stretch">
                <div class="col-lg-12">
                    <div class="h-200 p-5 bg-light rounded-3">
                        <h2>Today's Purchases</h2>
                        <table id="recentTable" class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Order Total</th>
                                    <th>Date</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="submitModal" tabindex="-1" role="dialog" aria-labelledby="submitModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="submitModalLabel">
                        Confirm Customer Order
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table tableConfirm">

                    </table>
                    <table class="table tableConfirm" id="confirmTable">
                        <thead>
                            <tr>
                                <th>Product Name</th>
                                <th style="text-align: right">Qty</th>
                                <th style="text-align: right">Total</th>
                            </tr>
                        </thead>
                        <tbody id="confirmTableBody">
                        </tbody>
                    </table>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Order Total:</th>
                                <th style="text-align: right" id="orderTotalCell">0</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="submitConfirm" type="button" class="btn btn-primary" onclick="submitOrder()">Confirm</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/select/1.3.4/js/dataTables.select.min.js"></script>

    <script>

        table = $('#recentTable').DataTable({
            ajax: '../recent_orders',
            bPaginate: false,
            blengthChange: false,
            bFilter: true,
            responsive: true,
            scrollY: '53vh',
            scrollCollapse: true,
            columnDefs : [
                { "width": "65%", "targets": 0 },
            ]
        });

        function addRow() {
            var tbodyRef = document.getElementById('orderTable').getElementsByTagName('tbody')[0];
            var newRow = tbodyRef.insertRow();
            var nameCell = newRow.insertCell();
            var qtyCell = newRow.insertCell();

            nameCell.innerHTML = `<input list="product_names" size="60">`;
            qtyCell.innerHTML = `<input type="number" min="0">`
        }

        function createConfirmTable() {
            var data = getOrderObj();
            var confirmTb = document.getElementById('confirmTable');
            var orderTb = document.getElementById("orderTable");
            var r = orderTb.rows.length;
            console.log( 'Creating Confirm Table' );
            var rowCount = confirmTb.rows.length;
            for (var i = rowCount - 1; i > 0; i--) {
                confirmTb.deleteRow(i);
            }

            $.ajax({
                url: '../get_price',
                type: 'POST',
                dataType: 'json',
                data: {'order_data': JSON.stringify( data )},
                success: function (response){
                    console.log( response.data );
                    orderTotalCell = document.getElementById('orderTotalCell');
                    orderTotalCell.innerHTML = response.total;

                    for (let i = 2; i < r; i++) {
                        console.log(i);
                        console.log(response.data[i-2]);
                        product_name = orderTb.rows[i].cells[0].children[0].value;
                        qty =  orderTb.rows[i].cells[1].children[0].value;

                        var newRow = confirmTb.insertRow();
                        var nameCell = newRow.insertCell();
                        var qtyCell = newRow.insertCell();
                        var totalCell = newRow.insertCell();

                        nameCell.innerHTML = product_name;
                        qtyCell.style.textAlign = "right";
                        qtyCell.innerHTML = qty;
                        totalCell.style.textAlign = "right";
                        totalCell.innerHTML = response.data[i-2];
                    };
                }
            });
        }

        function submitOrder() {
            var data = getOrderObj();
            console.log( data );

            $.ajax({
                url: '../submit_order',
                type: 'POST',
                dataType: 'json',
                data: {'order_data': JSON.stringify( data )},
                success: function (response){
                    console.log( response.data );
                    window.location.reload();
                }
            });
        }

        function getOrderObj() {
            var orderTb = document.getElementById("orderTable");
            var r = orderTb.rows.length;
            var name = orderTb.rows[0].cells[0].children[0].value;
            data = {"customer_name": name, "order": []};

            for (let i = 2; i < r; i++) {
                order_obj = {};
                product_name = orderTb.rows[i].cells[0].children[0].value;
                qty =  orderTb.rows[i].cells[1].children[0].value;
                order_obj[product_name] = qty
                data.order.push(order_obj);
            }
            return data;
        }

    </script>
</body>

{% endblock %}